.main_calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 20px;
    height: 100vh;
    width: 50%;
}

.days_weeks_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.days_weeks {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;

    border-top-color: black;
    border-top-width: 2px;
    border-top-style: solid;
    padding-top: 10px;
    margin-top: 15px;
}

.grid_curr_month {
    padding: 5px;
    text-align: center;
    color: black;
}

.grid_other_month {
    padding: 5px;
    text-align: center;
    color: black;
    opacity: 0.3;
}

.arrows {
    color: rgb(188, 188, 188),
}

:hover .arrows {
    color: rgb(204, 36, 36)
}