.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* justify-content: space-between; */
    height: 100%;
    align-items: left;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 8%;
    z-index: 100;
}

.form label {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    /* width: 100%; */
}

.form input {
    margin-right: 0.5em;
}