.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80%;
    width: inherit;
    align-items: left;
    z-index: 100;
    padding: 8%;
}

.form label {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.form input {
    margin-right: 0.5em;
}